/* Set the background-color for the body*/
body {
    background-color: #053742;
}
/* Set the color for <p> text */
p {
   color: #A2DBFA;
}
/* Set the color for header 1 text */
h1 {
    color: #E8F0F2;
    }
/* round the corners of the img */
img {
      border-radius: 10px;
}
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  width: 300px;
  height: 200px;
/*  border: 0px solid #f1f1f1;*/

  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #39A2DB;
  color: white;
  transform: rotateY(180deg);
}
/* Style all font awesome icons */
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}


/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #E8F0F2;
  color: #00ACEE;
}

/* Linked In */
.fa-linkedin {
  background: #55ACEE;
  color: #0e76a8;
}

/* Github */
.fa-github {
  background: #E8F0F2;
  color: black;
}